<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	    http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	    http://www.springframework.org/schema/security
	    http://www.springframework.org/schema/security/spring-security-3.2.4.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context-3.2.xsd
	    http://www.springframework.org/schema/mvc
	    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
	    http://www.springframework.org/schema/util
	    http://www.springframework.org/schema/util/spring-util-3.2.xsd
	    http://www.springframework.org/schema/tx 
	    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
	default-lazy-init="true">
	
	<mvc:annotation-driven />
	
	<mvc:resources mapping="collect.swf" location="collect.swf" />
	<mvc:resources mapping="/assets/**" location="/assets/" />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/script/**" location="/script/" />
	<mvc:resources mapping="/org/**" location="/org/" />

	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<bean class="org.openforis.collect.spring.handler.UrlFilenameHandlerAdapter" autowire="byName" />

	<util:map id="urlMappings">
		<!-- <entry key="**/messagebroker/**" value-ref="_messageBroker" /> -->
		<entry key="/index.htm" value-ref="fileNameViewController" />
		<entry key="/designer.htm" value-ref="fileNameViewController" />
		<entry key="/editSurvey.htm" value-ref="fileNameViewController" />
		<entry key="/error.htm" value-ref="fileNameViewController" />
		<entry key="/accessDenied.htm" value-ref="fileNameViewController" />
		<entry key="/exitUser.htm" value-ref="fileNameViewController" />
		<entry key="/importSurvey.htm" value-ref="fileNameViewController" />
		<entry key="/login.htm" value-ref="fileNameViewController" />
		<entry key="/logout.htm" value-ref="fileNameViewController" />
		<entry key="/logoUpload" value-ref="fileNameViewController" />

		<entry key="/surveys" value-ref="fileNameViewController" />
		<entry key="/speciesImport" value-ref="fileNameViewController" />
		<entry key="/species/export/*" value-ref="fileNameViewController" />
		<entry key="/samplingdesign/export/*" value-ref="fileNameViewController" />
		<entry key="/publishToRdb" value-ref="fileNameViewController" />
		<entry key="/submitPublishToRdb" value-ref="fileNameViewController" />
		
		<entry key="/*.json" value-ref="fileNameViewController" />
	</util:map>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/view/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="urlMap" ref="urlMappings" />
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<!-- Controllers -->
	<bean id="fileNameViewController" class="org.springframework.web.servlet.mvc.UrlFilenameViewController" />
	<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />
	
	<!-- ===================================== -->
	<!-- Data Source -->
	<!-- ===================================== -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/collectDs" />
		<property name="resourceRef" value="true" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />

	<!-- ===================================== -->
	<!-- RDB Data Source -->
	<!-- ===================================== -->
	<bean id="rdbDataSource" class="org.springframework.jndi.JndiObjectFactoryBean"
		lazy-init="true">
		<property name="jndiName" value="java:comp/env/jdbc/collectRdbDs" />
		<property name="resourceRef" value="true" />
	</bean>

	<bean id="rdbTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		lazy-init="true">
		<qualifier value="rdbTransactionManager" />
		<property name="dataSource" ref="rdbDataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="rdbTransactionManager" proxy-target-class="true"/>

	<import resource="classpath:org/openforis/collect/application-context-server.xml"/>
	
</beans>
