<?xml version="1.0" encoding="UTF-8"?>
<b:beans 
	xmlns:b="http://www.springframework.org/schema/beans" 
	xmlns="http://www.springframework.org/schema/security" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation=
		"http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- Enables Method Security and Expression-based access control -->
	<global-method-security pre-post-annotations="enabled" secured-annotations="enabled" access-decision-manager-ref="methodAccessDecisionManager" >
		<expression-handler ref="expressionHandler"  />
		<protect-pointcut expression="execution(* org.openforis.collect.remoting.service.*Service.*(..))" access="ROLE_USER"/>
	</global-method-security>

	<http use-expressions="true" auto-config="true"
		access-decision-manager-ref="accessDecisionManager">
		<intercept-url pattern="/error.htm" access="permitAll" />
		<intercept-url pattern="/login.htm*" access="permitAll" />
		<intercept-url pattern="/samplingdesign/export/*" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/surveys" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/species/export/*" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/designer.htm" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/editSurvey.htm" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/importSurvey.htm" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/logoUpload" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/speciesImport" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/uploadData.htm" access="permitAll" />
		<intercept-url pattern="/uploadFile.htm" access="permitAll" />
		<intercept-url pattern="/validateAllRecords.htm" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/validationReport" access="hasRole('ROLE_ADMIN')" />

		<!-- security disabled for these urls because of an issue with flash player 
			for netscape compatible browser and uplaod to a secured url -->
		<intercept-url pattern="/uploadRecordFile.htm" access="permitAll" />
		<intercept-url pattern="/downlodRecordFile.htm" access="permitAll" />

		<intercept-url pattern="/index.htm" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/*" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/**/*.swf" access="hasRole('ROLE_USER')" />
		<!-- <intercept-url pattern="/script/**" access="hasAnyRole('ROLE_ADMIN','ROLE_EDITOR','ROLE_USER')" 
			/> -->

		<form-login login-page="/login.htm"
			authentication-failure-url="/login.htm?login_error=1" />
		<http-basic />
		<logout logout-success-url="/index.htm" />
		<!-- remember-me / -->
	</http>

	<authentication-manager alias="authManager">
		<authentication-provider user-service-ref="userDetailsService">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>

	<!-- See 15.3.2 Built-In Expression @http://static.springsource.org/spring-security/site/docs/3.0.x/reference/el-access.html#el-permission-evaluator -->
	<b:bean id="expressionHandler" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
		<!-- To use hasPermission() in expressions, configure a PermissionEvaluator -->
		<!-- <b:property name="permissionEvaluator" ref="permissionEvaluator" /> -->
		<b:property name="roleHierarchy" ref="roleHierarchy" />
	</b:bean>

	<b:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<b:property name="decisionVoters">
			<b:list>
				<b:bean class="org.springframework.security.web.access.expression.WebExpressionVoter">
					<b:property name="expressionHandler">
						<b:bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler">
							<b:property name="roleHierarchy" ref="roleHierarchy" />
						</b:bean>
					</b:property>
				</b:bean>
			</b:list>
		</b:property>
	</b:bean>

	<b:bean id="methodAccessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<b:property name="decisionVoters">
			<b:list>
				<b:ref bean="roleVoter" />
			</b:list>
		</b:property>
	</b:bean>
	
	<b:bean id="roleVoter" class="org.springframework.security.access.vote.RoleHierarchyVoter">
		<b:constructor-arg ref="roleHierarchy" />
	</b:bean>

	<b:bean id="roleHierarchy" class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
		<b:property name="hierarchy">
			<b:value>
				ROLE_ADMIN > ROLE_ANALYSIS
				ROLE_ANALYSIS > ROLE_CLEANSING
				ROLE_CLEANSING > ROLE_ENTRY
				ROLE_ENTRY > ROLE_USER
				ROLE_USER > ROLE_GUEST
			</b:value>
		</b:property>
	</b:bean>

	<b:bean id="authenticatedVoter" class="org.springframework.security.access.vote.AuthenticatedVoter" />
	
</b:beans>