.error {
	color: red;
}
.nopadding {
	padding: 0px;
}
.z-groupbox-3d.insideForm {
	margin: 5px;
}
.insideForm .z-groupbox-3d-cnt {
	padding: 0px;
}
.z-groupbox-3d .open-false .z-caption-l {
	background: url("images/arrow-down-small.png") no-repeat 0 0px;
}
.z-groupbox-3d .open-true .z-caption-l {
	background: url("images/arrow-up-small.png") no-repeat 0 0px;;
}
.z-menuitem.icon-button .z-menuitem-btn  {
	width: 20px;
	height: 25px;
	padding-left: 20px;
}
.z-treecell {
	font-style: bold;
	font-size: 14px;
}
.z-treecell.associated {
	color: grey;
	font-style: italic;
}

