.record-edit-action-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 4px;
    height: 34px;
    top: 0;
    right: 0;
}

.record-edit-action-bar label {
    font-weight: 500;
    font-size: 1.2rem;
}

.icon.validation-report {
    color: green;
}

.icon.validation-report.error {
    color: orange;
}