/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace detail "org.openforis.collect.ui.component.detail.*";
@namespace input "org.openforis.collect.ui.component.input.*";
@namespace view "org.openforis.collect.ui.view.*";
@namespace component "org.openforis.collect.ui.component.*";
@namespace container "org.openforis.collect.ui.container.*";
@namespace user "org.openforis.collect.ui.component.user.*";
@namespace codelist "org.openforis.collect.ui.component.input.codelist.*";
@namespace concurrency "org.openforis.collect.concurrency.*";

container|CollapsiblePanel {
	skin-class: ClassReference('org.openforis.collect.ui.skin.CollapsiblePanelSkin');
}

container|TitleBorderBox {
	skin-class: ClassReference('org.openforis.collect.ui.skin.TitleBorderBoxSkin');
}

/* FieldSet */
container|FieldSet {
	cornerRadius: 4;
	gap: 6;
	paddingLeft: 2;
	paddingRight: 2;
	paddingTop: 10;
	paddingBottom: 2;
	skin-class: ClassReference('org.openforis.collect.ui.skin.FieldSetSkin');
}

container|FieldSet #legendDisplay {
	fontSize: 14;
	fontWeight: bold;
}

container|FieldSet #notesLabelDisplay {
	fontSize: 12;
	fontStyle: italic;
}

container|FieldSet #notesDisplay {
	fontSize: 12; 
	textAlign: justify;
}
/* end of FieldSet */

container|CollapsiblePanel s|Label.title {
	fontWeight: bold;
}

s|Button.link {
	skin-class: ClassReference('org.openforis.collect.ui.skin.LinkButtonSkin');
}

s|Button.collapse {
	skin-class: ClassReference('org.openforis.collect.ui.skin.CollapseButtonSkin');
}

s|Button.expand {
	skin-class: ClassReference('org.openforis.collect.ui.skin.ExpandButtonSkin');
}

s|Button.logout {
	skin-class: ClassReference('org.openforis.collect.ui.skin.LogoutButtonSkin');
}

/* Home Page */
.introWelcomeText {
	fontSize: 25px;
	fontWeight: bold;
	textAlign: center;
}
.introText {
	fontSize: 15px;
	textAlign: justify;
}
.errorText {
	fontSize: 18px;
	fontWeight: bold;
}
.functionList{
	/*skin-class: ClassReference('org.openforis.collect.ui.skin.FunctionListSkin');*/
	borderVisible: false;
}
.functionLabel {
	fontSize: 20;
	fontWeight: bold;
	paddingBottom: 15;
	paddingTop: 15;
	paddingRight: 5;
	paddingLeft: 5;
}
/* end of Home Page */

s|ToggleButton.filter {
	icon: Embed(source="assets/images/filter.png");
	cornerRadius: 5;
}

view|Footer {
	padding-bottom: 5;
	backgroundColor: #B8E4ED;
	fontStyle: italic;
	fontWeight: bold;
	fontSize: 9;
	color: #eee;
}

component|MessageDisplay {
	skin-class: ClassReference('org.openforis.collect.ui.skin.MessageDisplaySkin');
	backgroundColor: haloBlue;
}

component|MessageDisplay s|Label {
	color: white;
	fontSize: 12;
	fontWeight: bold;
}

.blockingMessageText {
	fontSize: 12;
	fontWeight: bold;
}

.loggedAsLabel {
	color: #222;
}

.updateStatusLabel {
	fontStyle: italic;
	fontWeight: bold;
	fontSize: 10;
}

.currentPhase {
	fontSize: 12;
	fontWeight: bold;
}

.recordKey {
	fontSize: 13;
	fontWeight: bold;
}

.listTitle {
	fontSize: 13;
	fontWeight: bold;
}

mx|Alert {
	color: #1B1B1B;
	border-color:#000000;
	border-alpha: 0.5;
	title-style-name: dialogHeaderStyle;
	corner-radius: 3;
	rounded-bottom-corners:true;
	background-color: #FFFFFF;
	background-alpha: 0.8;	
}
/*mx|Alert.error {

}*/

component|BlockingMessagePopUp,
	concurrency|CollectJobStatusPopUp,
	component|BackupRestorePopUp, component|DataExportPopUp, component|DataImportPopUp, 
	component|SelectVersionPopUp, component|SpeciesImportPopUp, 
	component|SurveySelectionPopUp,
	component|ConfigurationPopUp,
	component|SaikuPopUp,
	input|CodeListDialog,
	user|UserManagementPopUp,
	user|ChangePasswordPopUp {
	skin-class: ClassReference("org.openforis.collect.ui.skin.TitleWindowSkin");
	title-style-name: dialogHeaderStyle;
	border-color: #000000;
	border-weight: 10;
	border-alpha: 0.5;
	corner-radius: 3;
	background-color: #FFFFFF;
	background-alpha: 1.0;
}

component|BlockingMessagePopUp, concurrency|CollectJobStatusPopUp, component|SurveySelectionPopUp, component|SelectVersionPopUp, 
	component|DataExportPopUp, component|BackupView, component|SpeciesImportPopUp {
	showCloseButton: false;
}

.title {
	fontSize: 12px;
	fontWeight: bold;
	fontStyle: italic;
	fontFamily: Verdana;
}

codelist|CodeListAllowedValuesPreviewDialog {
	borderSkin: ClassReference("org.openforis.collect.ui.skin.ToolTipBorder");
	borderStyle: "tipAbove";
	borderColor: #A9D0F5;
}

input|CodeListDialog s|CheckBox {
	fontSize: 11;
	fontFamily: Verdana;
}

component|ErrorListPopUp, component|DataImportNodeErrorsPopUp {
	skinClass: ClassReference("org.openforis.collect.ui.skin.ResizableTitleWindowSkin");
}

input|NumericAttributeRenderer input|DropDownInputField s|DropDownList,
	input|RangeAttributeRenderer input|DropDownInputField s|DropDownList,
	input|CoordinateAttributeRenderer input|DropDownInputField s|DropDownList {
	skinClass: ClassReference("org.openforis.collect.ui.skin.DropDownSkin");
	dropDownWidth: 130;
}

mx|ToolTip { 
	fontSize: 10; 
	backgroundColor: #AAD4FF;
	color: #000000; 
	paddingBottom: 4;
	paddingLeft: 4;
	paddingRight: 4;
	paddingTop: 4;
}

/* validation tooltips */
mx|ToolTip.error, mx|ToolTip.warning, mx|ToolTip.warningConfirmedError {
	borderSkin: ClassReference("org.openforis.collect.ui.skin.ToolTipBorder");
	color: #FFFFFF;
	fontSize: 10;
	fontWeight: "bold";	
	shadowColor: #000000;
	borderStyle: "tipRight";
}

mx|ToolTip.error {
	borderColor: #CE2929;
}

mx|ToolTip.warning, mx|ToolTip.warningConfirmedError {
	borderColor: #FF8800;
}

detail|AttributeItemRenderer,
detail|CompositeAttributeRenderer {
	skin-class: ClassReference("org.openforis.collect.ui.skin.AttributeItemRendererSkin");
	borderColor: #FFFFFF;
	borderWeight: 1;
}

.externalBorder { 
	borderColor: #FFFFFF;
	borderWeight: 1;
}


detail|CodeAttributeFormItem detail|AttributeItemRenderer.error,
	detail|CompositeAttributeRenderer.error,
	detail|MultipleAttributeFormItem.error .externalBorder,
	detail|MultipleEntityAsTableFormItem.error .externalBorder {
	borderColor: #FF0000;
}

detail|CompositeAttributeRenderer.warning,
	detail|MultipleAttributeFormItem.warning .externalBorder,
	detail|MultipleEntityAsTableFormItem.warning .externalBorder {
	borderColor: #FF8800;
}

.notRelevant input|TextInput, .notRelevant mx|TextArea { 
	contentBackgroundColor: #DDDDDD;
}

input|TextInput, mx|TextArea {
	borderSkin: ClassReference("org.openforis.collect.ui.skin.TextInputBorderSkin");
}

input|TextInput.error, input|TextInput.warning, mx|TextArea.error, mx|TextArea.warning {
	borderStyle: solid;
	borderWeight: 1;
	borderThickness: 1;
}

input|TextInput.error, mx|TextArea.error {
	borderColor: #FF0000;
}

input|TextInput.warning, mx|TextArea.warning {
	borderColor: #FFAA00;
}

.remarksPresent {
	remarksPresentIconVisible: true;
}

input|TextInput.readOnly, mx|TextArea.readOnly {
	contentBackgroundColor: #ECECEC;
}

.notRelevant input|TextInput.readOnly, .notRelevant mx|TextArea.readOnly { 
	contentBackgroundColor: #DDDDDD;
}

.entityForm {
	borderColor: #CCCCCC;
	borderAlpha: 0.8;
	borderStyle: solid;
	borderWeight: 1; 
}

s|Button.loading {
	skin-class: ClassReference("org.openforis.collect.ui.skin.LoadingButtonSkin");
}

s|Button.closeButton {
	skin-class: ClassReference("org.openforis.collect.ui.skin.CloseButtonSkin");
}

s|Button.addButton {
	skin-class: ClassReference("org.openforis.collect.ui.skin.AddButtonSkin");
}

s|Button.deleteButton {
	skin-class: ClassReference("org.openforis.collect.ui.skin.DeleteButtonSkin");
}

s|Button.uploadButton {
	skin-class: ClassReference("org.openforis.collect.ui.skin.UploadButtonSkin");
}

s|Button.downloadButton {
	skin-class: ClassReference("org.openforis.collect.ui.skin.DownloadButtonSkin");
}

s|Button.warn {
	skin-class: ClassReference("org.openforis.collect.ui.skin.WarnButtonSkin");
}

s|Button.error {
	skin-class: ClassReference("org.openforis.collect.ui.skin.ErrorButtonSkin");
}

s|Button.checked {
	skin-class: ClassReference("org.openforis.collect.ui.skin.CheckedButtonSkin");
}

.dialogHeaderStyle {
	font-size: 11;
	font-weight: bold;
	color: #EEEEEE;
}

input|RemarksPopUp {
	skin-class: ClassReference("org.openforis.collect.ui.skin.RemarksPopUpSkin");
}

input|TaxonAutoCompletePopUp {
	/*skin-class: ClassReference("org.openforis.collect.ui.skin.TaxonAutoCompletePopUpSkin");*/
}

input|TaxonAutoCompletePopUp s|DataGrid {
	skin-class: ClassReference("org.openforis.collect.ui.skin.SpeciesDataGridSkin");
	alternatingRowColors: #FFFFFF, #E9E9E9;
}

s|Label.bold, .formLabel, .formLabelBig {
	fontWeight: bold;
}

.formLabelBig {
	fontSize: 16;
}

s|Label.fixedCode, s|Label.unit {
	fontSize: 10;
	fontFamily: Verdana;
}

s|Button.roundCorners {
	corner-radius: 3;
	border-style: none;
	border-color: white;
}

mx|LinkButton.roundCorners {
	corner-radius: 8;
}

s|FormItem.indent {
	skin-class: ClassReference("org.openforis.collect.ui.skin.FormItemSkin");
	label-style-name: "indent";
}

s|Label.indent {
	padding-left: 10;
	fontWeight: normal;
	font-size: 9;
}

.dataGroupHeader {
	skinClass: ClassReference("org.openforis.collect.ui.skin.DataGroupHeaderSkin");
}

.dataGroupHeader.horizontal {
	verticalAlign: bottom;
}

.dataGroupHeader.vertical {
	verticalAlign: bottom;
}

s|Label.dataGroupHeader {
	fontWeight: bold;
	font-size: 10;
	fontFamily: Verdana;
}

.infoMessage {
	fontWeight: bold;
	fontSize: 12;
}

.infoMessageBig {
	fontWeight: bold;
	fontSize: 14;
}

mx|PopUpMenuButton.settings {
	popUpIcon: Embed(source='assets/images/settings.png');
}

mx|PopUpMenuButton.userPopUpMenu {
	popUpIcon: Embed(source='assets/images/user_16x16.png');
	color: #000;
}

component|DifferenceProgressBarItemRenderer mx|ProgressBar.positive {
	barColor: #0A0;
}

component|DifferenceProgressBarItemRenderer mx|ProgressBar.negative {
	barColor: #A00;
}
