.quick-search-header {
  display: flex;
  line-height: 1rem;
  flex-direction: column;
  width: 100%;
}

.MuiDataGrid-footerContainer {
  .MuiTablePagination-root {
    p {
      margin-bottom: 0;
    }
  }
}