<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	    http://www.springframework.org/schema/beans
	    https://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
	    https://www.springframework.org/schema/context/spring-context.xsd
	    http://www.springframework.org/schema/mvc
	    https://www.springframework.org/schema/mvc/spring-mvc.xsd
	    http://www.springframework.org/schema/util
	    https://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="true">
	
	<import resource="classpath:org/openforis/collect/application-context-server.xml"/>

	<!-- Allows using properties like catalina.home, user.home, etc. -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" />

	<mvc:annotation-driven />
	
	<mvc:resources mapping="favicon.ico" location="favicon.ico" />
	<mvc:resources mapping="login.html" location="login.html" />
	<mvc:resources mapping="index.html" location="index.html" />
	<mvc:resources mapping="collect.swf" location="collect.swf" />
	<mvc:resources mapping="old_client.html" location="old_client.html" />
	<mvc:resources mapping="/assets/**" location="/assets/" />
	<mvc:resources mapping="/datacleansing/**" location="/datacleansing/" />
	<mvc:resources mapping="/datamanager/**" location="/datamanager/" />
	<mvc:resources mapping="/earthFiles/**" location="/earthFiles/" />
	<mvc:resources mapping="/org/**" location="/org/" />
	<mvc:resources mapping="/static/**" location="/static/" />
	
	<mvc:view-controller path="/" view-name="index.html" />
	
<!-- 	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" /> -->
<!-- 	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" /> -->
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	<bean class="org.openforis.collect.spring.handler.UrlFilenameHandlerAdapter" autowire="byName" />

	<util:map id="urlMappings">
		<!-- <entry key="**/messagebroker/**" value-ref="_messageBroker" /> -->
		<entry key="/api/**" value-ref="fileNameViewController" />
		<entry key="/logoUpload" value-ref="fileNameViewController" />
		<entry key="/speciesImport" value-ref="fileNameViewController" />
		<entry key="/species/export/*" value-ref="fileNameViewController" />
		<entry key="/samplingdesign/export/*" value-ref="fileNameViewController" />
		<entry key="/publishToRdb" value-ref="fileNameViewController" />
		<entry key="/submitPublishToRdb" value-ref="fileNameViewController" />
		
		<entry key="/*.json" value-ref="fileNameViewController" />
	</util:map>

	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="urlMap" ref="urlMappings" />
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<!-- Controllers -->
	<bean id="fileNameViewController" class="org.springframework.web.servlet.mvc.UrlFilenameViewController" />
	
	<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
	
</beans>
