
/**
* Customuzation for OF Collect
**/

.breadcrumb-item.active {
    font-weight: bold;
    font-size: 1em;
}

.breadcrumb-item a {
    color: #3795c4;
}

.container.formItems {
    margin-left: 0px;
    margin-right: 0px;
  }
  
@media (min-width: 576px) {
.container.formItems {
    width: 540px;
    max-width: 100%; } }
@media (min-width: 768px) {
.container.formItems {
    width: 720px;
    max-width: 100%; } }
@media (min-width: 992px) {
.container.formItems {
    width: 960px;
    max-width: 100%; } }
@media (min-width: 1200px) {
.container.formItems {
    width: 1140px;
    max-width: 100%; } }
@media (min-width: 1400px) {
    .container.formItems {
    width: 1380px;
    max-width: 100%; } }
@media (min-width: 1600px) {
.container.formItems {
    width: 1580px;
    max-width: 100%; } }
  
fieldset {
    border: 1px solid #c0c0c0 !important;
    margin: 0 2px !important;
    padding: 0.35em 1.625em 0.75em !important;
}

fieldset legend {
    width: auto;
    font-size: 1.5em;
}

.card fieldset {
    margin-left: 20px !important;
}

.app-header.navbar .navbar-brand {
    background-image: url("../img/of_collect_logo_horizontal_of.png");
    background-position: left center;
    background-size: 155px auto;
    
}

.app-body .sidebar {
    flex: 0 0 400px;
}

@media (min-width: 576px) {
.row {
    margin-right: 0px;
    margin-left: 0px; } }
@media (min-width: 768px) {
.row {
    margin-right: 0px;
    margin-left: 0px; } }
@media (min-width: 992px) {
.row {
    margin-right: 0px;
    margin-left: 0px; } }
@media (min-width: 1200px) {
.row {
    margin-right: 0px;
    margin-left: 0px; } }

span.checked,
span.circle-red,
span.circle-green, 
span.equal-sign {
  display: block;
  width: 100%;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}

.error {
    color: red;
}

.warning {
    color: orange;
}

.success {
    color: green;
}

span.checked {
  background-image: url('../img/generic/tick_mark_32x32.png');
}

span.checked.large {
  background-image: url('../img/generic/tick_mark_64x64.png');
  background-size: 64px;
  height: 64px;
  width: 64px;
}

span.checked.small {
  height: 16px;
  width: 16px;
  background-size: 16px;
}

span.checked.small.inline {
  display: inline;
}

span.circle-red {
  background-image: url('../img/generic/red_circle_32x32.png');
}

span.circle-green {
  background-image: url('../img/generic/green_circle_32x32.png');
}

span.equal-sign {
  background-image: url('../img/generic/equal_sign_32x32.png');
}

.dropdown-menu.dropdown-menu-right {
    right: auto;
}

.app-header.navbar .dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}

.app-header.navbar .nav-item .dropdown-toggle.survey-dropdown-toggle {
    width: 400px;
    background-color: #0069d9;
    padding: 10px;
    color: white;
}

.dropdown-item.survey-item {
    border-bottom: 1px solid grey;
}

.dropdown-item.survey-item .survey-name {
    font-weight: bold;
}

label.invalid {
    color: #dc3545;
}

.tooltip.success .tooltip-inner {
    background-color: green;
    color: white;
}

.tooltip.warning .tooltip-inner {
    background-color: orange;
    color: black;
}

.tooltip.error .tooltip-inner {
    background-color: red;
    color: white;
}