<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	    http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context-4.1.xsd
	    http://www.springframework.org/schema/mvc
	    http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
	    http://www.springframework.org/schema/util
	    http://www.springframework.org/schema/util/spring-util-4.1.xsd"
	default-lazy-init="true">
	
	<import resource="classpath:org/openforis/collect/application-context-server.xml"/>

	<!-- Allows using properties like catalina.home, user.home, etc. -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" />

	<mvc:annotation-driven />

	<mvc:resources mapping="index.html" location="index.html" />
	<mvc:resources mapping="collect.swf" location="collect.swf" />
	<mvc:resources mapping="/assets/**" location="/assets/" />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/datacleansing/**" location="/datacleansing/" />
	<mvc:resources mapping="/datamanager/**" location="/datamanager/" />
	<mvc:resources mapping="/earthFiles/**" location="/earthFiles/" />
	<mvc:resources mapping="/fonts/**" location="/fonts/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/script/**" location="/script/" />
	<mvc:resources mapping="/org/**" location="/org/" />
	<mvc:resources mapping="/static/**" location="/static/" />
	
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<bean class="org.openforis.collect.spring.handler.UrlFilenameHandlerAdapter" autowire="byName" />

	<util:map id="urlMappings">
		<!-- <entry key="**/messagebroker/**" value-ref="_messageBroker" /> -->
		<entry key="/old_client.htm" value-ref="fileNameViewController" />
		<entry key="/error.htm" value-ref="fileNameViewController" />
		<entry key="/accessDenied.htm" value-ref="fileNameViewController" />
		<entry key="/designer.htm" value-ref="fileNameViewController" />
		<entry key="/exitUser.htm" value-ref="fileNameViewController" />
		<entry key="/editSurvey.htm" value-ref="fileNameViewController" />
		<entry key="/importSurvey.htm" value-ref="fileNameViewController" />
		<entry key="/logout.htm" value-ref="fileNameViewController" />
		<entry key="/logoUpload" value-ref="fileNameViewController" />

		<entry key="/command/**" value-ref="fileNameViewController" />
		<entry key="/survey/**" value-ref="fileNameViewController" />
		<entry key="/speciesImport" value-ref="fileNameViewController" />
		<entry key="/species/export/*" value-ref="fileNameViewController" />
		<entry key="/samplingdesign/export/*" value-ref="fileNameViewController" />
		<entry key="/publishToRdb" value-ref="fileNameViewController" />
		<entry key="/submitPublishToRdb" value-ref="fileNameViewController" />
		
		<entry key="/*.json" value-ref="fileNameViewController" />
	</util:map>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/view/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="urlMap" ref="urlMappings" />
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<!-- Controllers -->
	<bean id="fileNameViewController" class="org.springframework.web.servlet.mvc.UrlFilenameViewController" />
	
	<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
	
</beans>
