#generic
collect.http_port=8380
collect.webapps_location=${user.home}/OpenForis/Collect/webapps
#db
collect.db.jndiName=collectDs
collect.db.driverClassName=org.sqlite.JDBC
collect.db.url=jdbc:sqlite:${user.home}/OpenForis/Collect/data/collect.db
collect.db.username=
collect.db.password=
collect.db.initialSize=5
collect.db.maxActive=20
collect.db.maxIdle=5