<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</Console>

		<!-- the following appenders write to files -->

		<RollingFile name="openforis"
			fileName="${sys:catalina.base}/logs/collect.log"
			filePattern="${sys:catalina.base}/logs//$${date:yyyy-MM}/collect-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>

		<Sentry name="Sentry" />
	</Appenders>

	<Loggers>
		<Logger name="org.apache.log4j.xml" level="info"> -->
			<AppenderRef ref="openforis" />
			<AppenderRef ref="Sentry" />
		</Logger>

		<Logger name="org.openforis" level="info">
			<AppenderRef ref="openforis" />
			<AppenderRef ref="Sentry" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="openforis" />
			<AppenderRef ref="Sentry" level="error" />
		</Root>
	</Loggers>
</Configuration>