/*Demo*/
.z-row-cnt,
.z-column-cnt,
.z-auxheader-cnt {
	text-align: center;
}
.z-groupbox-hm {
	border-width: 1px 0;
}
.z-groupbox-cnt {
	border: 0 none;
}

/*Template*/
.z-borderlayout {
	background: 0 none;
}
.z-center {
	border: 0 none;
}
.content {
	margin-right: 3px;
}

/*Template Complex*/
.complex .content {
	margin: 0 0 0 3px;
}

.top-toolbar .z-toolbarbutton {
	width: 100px;
}
.top-toolbar .z-toolbarbutton-cnt {
	text-align: center;
}
.header {
	text-align: center;
}
.footer {
	line-height: 50px;
	text-align: center;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, top, left, from(#f1f1f1), to(#fcfcfc));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #fcfcfc); 
	background-image:    -moz-linear-gradient(top, #f1f1f1, #fcfcfc); 
	background-image:     -ms-linear-gradient(top, #f1f1f1, #fcfcfc); 
	background-image:      -o-linear-gradient(top, #f1f1f1, #fcfcfc); 
	background-image:         linear-gradient(top, #f1f1f1, #fcfcfc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#fcfcfc');
}

