<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.0.4.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-lazy-init="true">

	<context:annotation-config/>
	
	<!-- <context:component-scan base-package="org.fao.openforis.service"/> -->
	<!-- <context:component-scan base-package="org.fao.openforis"/> -->

	<context:property-placeholder location="classpath:/app.properties" /> 

	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<util:map id="urlMappings">
		<entry key="**/messagebroker/**" value-ref="_messageBroker"  />
		<entry key="/index.htm" value-ref="fileNameViewController" />
		<entry key="/error.htm" value-ref="fileNameViewController" />
		<entry key="/accessDenied.htm" value-ref="fileNameViewController" />
		<entry key="/exitUser.htm" value-ref="fileNameViewController" />
		<entry key="/login.htm" value-ref="fileNameViewController" />
	</util:map>

<!-- 	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" > -->
<!-- 		<property name="urlMap"> -->
<!-- 			<map> -->
<!-- 				<entry key="**/messagebroker/**" value-ref="_messageBroker"  /> -->
<!-- 				<entry key="/index.htm"> -->
<!-- 					<ref bean="fileNameViewController"/> -->
<!-- 				</entry> -->
<!-- 				<entry key="/error.htm" value-ref="fileNameViewController" /> -->
<!-- 				<entry key="/accessDenied.htm" value-ref="fileNameViewController" /> -->
<!-- 				<entry key="/exitUser.htm" value-ref="fileNameViewController" /> -->
<!-- 				<entry key="/login.htm" > -->
<!-- 					<ref bean="fileNameViewController"/> -->
<!-- 				</entry> -->
<!-- 			</map> -->
<!-- 		</property> -->
<!-- 		<property name="mappings"> -->
<!-- 			<props> -->
<!-- 				<prop key="/index.htm">fileNameViewController</prop> -->
<!-- 			</props> -->
<!-- 		</property> -->
<!-- 	</bean> -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <value> **/messagebroker/**=_messageBroker </value>
        </property>
    </bean>
 	
 <!-- Controllers -->
 	<bean id="fileNameViewController"  class="org.springframework.web.servlet.mvc.UrlFilenameViewController" >
 	</bean>

	<bean 
		id="viewResolver" 
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/view/jsp/" p:suffix=".jsp" />
 	
	<!-- Dispatches requests mapped to a MessageBroker -->
	<!-- <bean class="org.springframework.flex.servlet.MessageBrokerHandlerAdapter"/> -->

	<!-- BlazeDs services -->
	<bean id="applicationService" class="org.openforis.collect.remoting.service.ConnectivityService">
	</bean>
<!-- 	<bean id="service" class="org.fao.openforis.web.service.Service" scope="session"> -->
<!-- 		<property name="applicationDao" ref="applicationDao" /> -->
<!-- 		<property name="fileController" ref="fileController" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="backupService" class="org.fao.openforis.web.service.BackupService"> -->
<!-- 		<property name="backupDirectory" value="backup" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="securityService" class="org.fao.openforis.web.service.SecurityService"> -->
<!-- 	</bean> -->

<!-- 	<bean id="restoreService" class="org.fao.openforis.web.service.RestoreService"> -->
<!-- 		<property name="tmpDir" value="backup/tmp" /> -->
<!-- 		<property name="applicationDao" ref="applicationDao" /> -->
<!-- 	</bean> -->

	<!-- Dao's -->
<!-- 	<bean id="applicationDao" class="org.fao.openforis.collect.dao.xml.ApplicationDaoImpl"> -->
<!-- 		<property name="recordDao" ref="recordDao" /> -->
<!-- 		<property name="versionDao" ref="versionDao" /> -->
<!-- 		<property name="taxonDao" ref="taxonDao" /> -->
<!-- 		<property name="validationResultDao" ref="validationResultDao" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="recordDao" class="org.fao.openforis.collect.dao.xml.XmlRecordDao"> -->
<!-- 		<property name="applicationDao" ref="applicationDao" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="versionDao" class="org.fao.openforis.collect.dao.xml.XmlVersionDao"> -->
<!-- 		<property name="applicationDao" ref="applicationDao" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="taxonDao" class="org.fao.openforis.collect.dao.xml.XmlTaxonDao"> -->
<!-- 		<property name="applicationDao" ref="applicationDao" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="validationResultDao" -->
<!-- 		class="org.fao.openforis.collect.dao.xml.XmlValidationResultDao"> -->
<!-- 		<property name="applicationDao" ref="applicationDao" /> -->
<!-- 	</bean> -->




<!-- Controllers -->
<!-- 	<bean id="multipartResolver" -->
<!-- 		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" /> -->

<!-- 	<bean id="fileController" class="org.fao.openforis.web.controller.FileController" -->
<!-- 		scope="session"> -->
<!-- 	</bean> -->

<!-- 	<bean id="unlockController" class="org.fao.openforis.web.controller.UnlockController" -->
<!-- 		scope="session"> -->
<!-- 		<property name="service" ref="service" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="validationController" class="org.fao.openforis.web.controller.ValidationController"> -->
<!-- 		<property name="applicationDao" ref="applicationDao" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="exportDataController" class="org.fao.openforis.web.controller.ExportDataController"> -->
<!-- 	</bean> -->
</beans>
