@font-face {
	font-family: 'CaviarDreams';
	src: url('../fonts/caviar-dreams/CaviarDreams.eot');
	src: local('CaviarDreams'), 
		url('../fonts/caviar-dreams/CaviarDreams.woff') format('woff'), 
		url('../fonts/caviar-dreams/CaviarDreams.ttf') format('truetype'), 
		url('../fonts/caviar-dreams/CaviarDreams.svg') format('svg');
}

/*----------------------------------------
  General Layout Style
------------------------------------------*/
body {
  background-color: #6699cc; /* blue Open Foris */
}

.container {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 98%;
}

#content .container .row {
  margin-bottom: 0;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 98%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 98%;
  }
}

@media only screen and (max-width: 993px) {
  #main {
    padding-left: 0;
  }
  footer {
    padding-left: 0;
  }
}

/*---------------------------------
    Typography
-----------------------------------*/
.small {
  font-size: 1.0rem;
  margin: 0;
  padding: 0;
}

.medium-small {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.ultra-small {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

small {
  font-size: 0.8rem;
}

.strong {
  font-weight: 600;
}

h4.header {
  line-height: 2.508rem;
  margin: 1.14rem 0 0.912rem 0;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

h4.header2 {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
}

p.title {
  font-size: 1.3rem;
}

p.header {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.more-text {
  padding: 5px 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.margin {
  margin: 0 !important;
}

/*----------------------------------------
    Login Page
------------------------------------------*/
.login-form {
  width: 280px;
}

.login-form-text {
  font-family: 'CaviarDreams',Verdana,Arial,Helvetica,sans-serif;
  letter-spacing: 2px;
  font-size: 1.8rem;
}

.profile-image-login {
  width: 100px;
  height: 100px !important;
}

.login-text {
  margin-top: -6px;
  margin-left: -6px !important;
}

div.warn, div.error {
	font-weight: bold;
	font-size: 0.8em;
}

div.error {
	color: red;
}

div.warn {
	color: blue;
}