<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="true">
    <servlet>
        <servlet-name>jsonServlet</servlet-name>
        <servlet-class>org.openforis.collect.js.JsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsonServlet</servlet-name>
        <url-pattern>/json/*</url-pattern>
    </servlet-mapping>

    <!--<error-page>-->
        <!--<location>/WEB-INF/jsp/error.jsp</location>-->
    <!--</error-page>-->
</web-app>