/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace detail "org.openforis.collect.ui.component.detail.*";
@namespace input "org.openforis.collect.ui.component.input.*";

mx|Alert {
	color: #1B1B1B;
	borderColor:#000000;
	titleStyleName: dialogHeaderStyle;
	cornerRadius: 3;
	roundedBottomCorners:true;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 0.8;
	borderAlpha: 0.5;
}

.dialogHeaderStyle {
	font-size: 11;
	font-weight: bold;
	color: #EEEEEE;
}

input|RemarksPopUp {
	skin-class: ClassReference("org.openforis.collect.ui.skin.RemarksPopUpSkin");
}