/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace detail "org.openforis.collect.ui.component.detail.*";
@namespace input "org.openforis.collect.ui.component.detail.input.*";
@namespace input1 "org.openforis.collect.ui.component.input.*";

/*
detail|FormContainer {
	skin-class: ClassReference("org.openforis.collect.ui.skins.detail.FormContainerSkin");
}

detail|EntityFormContainer {
	skin-class: ClassReference("org.openforis.collect.ui.skins.detail.EntityFormContainerSkin");
}
*/
detail|MultipleEntityFormContainer {
	skin-class: ClassReference("org.openforis.collect.ui.skin.MultipleEntityFormContainerSkin");
}

input1|RemarksPopUp {
	skin-class: ClassReference("org.openforis.collect.ui.skin.RemarksPopUpSkin");
}