.icon-info {
  color: #1976d2;
  padding-left: 5px;
}

.record-edit-form {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  /**
  * ==== TABS
  **/
  .tabset-wrapper {
    height: calc(100% - 40px); // consider record action bar height

    .tab-content {
      height: 100%;
    }
  }

  /**
  * ==== FORM ITEMS
  **/
  fieldset {
    padding: 0 0.5rem 0.5rem 0.5rem !important;

    &.form-item-fieldset {
      border: 1px solid #949494;

      > legend {
        padding: 0px 4px 0px 4px;
        line-height: 1.5rem;
      }
    }
  }

  .form-items {
    padding: 5px;
    display: grid;
    row-gap: 4px;
    column-gap: 6px;
    width: fit-content;
  }

  .form-item-external-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }

  .form-item-composite-wrapper {
    display: flex;
    gap: 6px;
  }

  .multiple-fieldset-wrapper {
    display: flex;
    flex-direction: column;
  }

  .multiple-fieldset-header {
    display: flex;
    gap: 10px;
    align-items: baseline;
  }

  .node-def-label-wrapper {
    &.with-number {
      display: grid;
      grid-template-columns: 30px 1fr;
      grid-gap: 4px;
    }
    .number-label {
      text-align: right;
    }
  }

  /**
  * === RELEVANCY FEEDBACK
  **/
  .form-item-external-wrapper.not-relevant,
  .form-item-field-wrapper.not-relevant {
    input,
    .form-item-table,
    .MuiFormControl-root.MuiTextField-root {
      background-color: #d4d4d4;
    }

    label {
      font-style: italic;
    }
  }

  /**
  * === VALIDATION FEEDBACK
  **/
  .form-item-wrapper,
  .form-item-field-wrapper {
    position: relative;
    width: fit-content;

    .MuiFormControl-root.MuiTextField-root,
    .MuiInputBase-root.MuiOutlinedInput-root {
      fieldset {
        border-width: 2px;
        border-style: solid;
        border-radius: 4px;
      }
    }

    &.error {
      .MuiFormControl-root.MuiTextField-root,
      .MuiInputBase-root.MuiOutlinedInput-root {
        fieldset {
          border-color: red;
        }
      }
    }

    &.warning {
      .MuiFormControl-root.MuiTextField-root fieldset {
        border-color: orange;
      }
    }
  }
}

/**
* === Material UI components
**/
.MuiInputLabel-root.MuiInputLabel-animated {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(6px, 10px) scale(1);
}

.MuiInputLabel-root.MuiInputLabel-animated.MuiInputLabel-shrink {
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top left;
}

.MuiOutlinedInput-input,
.MuiInputBase-input.MuiOutlinedInput-input,
.MuiSelect-outlined,
.MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'] .MuiAutocomplete-input:first-child,
.MuiInputBase-formControl.MuiInputBase-multiline.MuiOutlinedInput-multiline {
  padding: 10px;

  textarea {
    padding: 0;
  }
}

.MuiAutocomplete-root {
  padding: 0;
}

label.MuiFormControlLabel-root {
  margin-left: 0px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot {
  padding: 1px;
}

.MuiInputBase-input.MuiOutlinedInput-input.MuiAutocomplete-input {
  padding: 0;
}

.MuiButtonBase-root.MuiIconButton-root.MuiCheckbox-root,
.MuiButtonBase-root.MuiIconButton-root.MuiRadio-root {
  padding: 2px;
}
