/**
* Custom Open Foris Collect style
*
* @author Stefano Ricci
*/
@CHARSET "UTF-8";

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.appliactionVersionContainer {
	position: absolute;
	left: 20px;
	top: 0;
	margin: 0;
}

.appliactionVersionContainer label {
	font-size: 0.7em;
	font-style: italic;
	color: #EEE;
} 

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -30px 0;
  /* Pad bottom by footer height */
  padding: 0 0 30px 0;
}

#wrap>.navbar {
	background-color: #FFFFFF;
}

#wrap>.navbar>.container {
	pagging: 0px;
	margin: 0px;
}

#header {
	height: 102px;
	border-bottom: solid 3px #0087C9;
}

#headerLink {
	position: absolute;
	z-index: 2;
	height: 80px;
	width: 90px;
	cursor: pointer;
}

#headerImg {
	position: absolute;
	left: 0px;
}

#logoImg {
	position: absolute;
	right: 0px;
	top: 10px;
}

body .content {
	position: fixed;
	width: 100%;
	bottom: 30px;
	top: 102px;
}

/* Set the fixed height of the footer here */
body .footer {
  height: 30px;
  background-color: #B9E4ED;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#wrap > .center-container {
  padding: 103px 0 0 0;
  margin:0;
}

#footer > .container {
	position: relative;
	padding: 0;
	margin: 0;
}

#footer > .container img {
	position: absolute;
	left: 0px;
	top: 0px;
}

.center-container {
  height:100%;
  display: table;
  width:100%;
  margin:0;
}

.center-row {
  height:50%;
  width:100%;
  display: table-row;
}
  
.center-row > div {
  height:100%;
  width:50%;
  display: table-cell;
  border:1px solid #eee
}

.alert {
	z-index: 1100;
	position: fixed;
	font-size: small;
	top: 15px;
	left: 0;
	right: 0;
	text-align: center;
}

/** Error Tooltip */
.tooltip.error .tooltip-inner {
	background: #e74c3c;
	text-align: left;
	overflow-y: auto;
	max-width: 300px;
	max-height: 300px;
}

.tooltip.top.error .tooltip-arrow {
	border-top-color: #e74c3c;
}

.home-survey-selector {
	position: absolute;
	top: 108px;
	right: 5px;
}

/*
.tab-external-panel {
	height: 100%;
	width: 100%;
}

.tab-pane {
	height: 100%;
	width: 100%;
	overflow: auto;
	position: relative;
}

.tab-external-panel:before, 
.tab-external-panel:after, 
.tab-content:before, 
.tab-content:after, 
.tab-pane:before, 
.tab-pane:after 
{
    display: none;
}

.tab-external-panel:after,
.tab-content:after, 
.tab-pane:after {
    content: '';
    display: block;
    clear: left;
}
*/

.section-title {
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.modal {
	overflow-y: auto;
}

.modal.success, 
.modal.warning, 
.modal.error {
	z-index: 2000;
}

.modal.success .modal-title {
	color: blue;
}

.modal.warning .modal-header {
	background-color: #FFCC66;
}

.modal.error .modal-header {
	background-color: #EE7777;
	color: white;
}

.data-query-dialog {
	width: 1000px;
}


fieldset {
	border: 1px groove #ddd !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 1em 1em 1em 1em !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}

legend {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width: auto;
	padding: 0 10px;
	border-bottom: none;
}

fieldset.compact {
	margin: 0 !important;
	padding: 0.5em !important;
}

fieldset.compact legend {
	margin: 0 !important;
}

fieldset.has-error {
	border: 2px groove #a94442 !important;
}

fieldset.has-error legend {
	color: #a94442;
}

.info-icon-button {
	cursor: pointer;
	background-image: url('../assets/images/info-small.png');
	width: 16px;
	height: 16px;
}

.remove-icon {
	cursor: pointer;
	color: #c9302c;
}

.edit-icon {
	cursor: pointer;
	color: #1E3BB6;
}

.duplicate-icon {
	cursor: pointer;
	color: darkgrey;
}

.hcenter {
	text-align: center;
}

.vcenter {
	position: relative;
    top: 30%;
}

.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}

.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}

.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}

.ol-popup-closer:after {
	content: "✖";
}