/**
* Custom Open Foris Collect style
*
* @author Stefano Ricci
*/
@CHARSET "UTF-8";

html, body {
	height: 100%;
	width: 100%;
}

.alert {
	z-index: 1100;
	position: fixed;
	font-size: small;
	top: 15px;
	left: 0;
	right: 0;
	text-align: center;
}

/** Error Tooltip */
.tooltip.error .tooltip-inner {
	background: #e74c3c;
}

.tooltip.top.error .tooltip-arrow {
	border-top-color: #e74c3c;
}

.home-survey-selector {
	position: absolute;
	top: 5px;
	right: 5px;
}
/*
.tab-external-panel {
	height: 100%;
	width: 100%;
}

.tab-pane {
	height: 100%;
	width: 100%;
	overflow: auto;
	position: relative;
}

.tab-external-panel:before, 
.tab-external-panel:after, 
.tab-content:before, 
.tab-content:after, 
.tab-pane:before, 
.tab-pane:after 
{
    display: none;
}

.tab-external-panel:after,
.tab-content:after, 
.tab-pane:after {
    content: '';
    display: block;
    clear: left;
}
*/

.modal.success, 
.modal.warning, 
.modal.error {
	z-index: 2000;
}

.modal.success .modal-title {
	color: blue;
}

.modal.warning .modal-header {
	background-color: #FFCC66;
}

.modal.error .modal-header {
	background-color: #EE7777;
	color: white;
}

