PLACEHOLDER_ID_COLUMNS_HEADER,"YCoordinate","XCoordinate"PLACEHOLDER_FOR_EXTRA_COLUMNS_HEADER
PLACEHOLDER_ID_COLUMNS_VALUES_1,-4.998422,151.358785PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_2,-5.597393,150.467849PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_3,-5.764004,148.440329PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_4,-4.67945,149.436835PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_5,-4.945604,151.35277PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_6,15.956562,-15.99616PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_7,12.691902,-14.802641PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_8,14.74772,-17.476605PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_9,15.98188,-16.337954PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_10,15.972537,-16.325393PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_11,12.314276,-1.422268PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_12,14.464809,-0.125032PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_13,14.46491,-0.106318PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_14,14.08001,-1.286856PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
PLACEHOLDER_ID_COLUMNS_VALUES_15,14.074089,-1.269035PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES