"ID","YCoordinate","XCoordinate"PLACEHOLDER_FOR_EXTRA_COLUMNS_HEADER
"PNG_1",-4.998422,151.358785PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"PNG_2",-5.597393,150.467849PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"PNG_3",-5.764004,148.440329PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"PNG_4",-4.67945,149.436835PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"PNG_5",-4.945604,151.35277PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"Senegal_1",15.956562,-15.99616PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"Senegal_2",12.691902,-14.802641PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"Senegal_3",14.74772,-17.476605PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"Senegal_4",15.98188,-16.337954PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"Senegal_5",15.972537,-16.325393PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"Burkina_1",12.314276,-1.422268PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"Burkina_2",14.464809,-0.125032PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"Burkina_3",14.46491,-0.106318PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"Burkina_4",14.08001,-1.286856PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
"Burkina_5",14.074089,-1.269035PLACEHOLDER_FOR_EXTRA_COLUMNS_VALUES
