.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.main-pane {
}

#startBtn {
	-fx-min-width: 100;
	-fx-min-height: 80;
	-fx-background-image: url("images/start-64x64.png");
	-fx-background-size: 64 64;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;   
}

#stopBtn {
	-fx-min-width: 100;
	-fx-min-height: 80;
	-fx-background-image: url("images/stop-64x64.png");
	-fx-background-size: 64 64;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;   
}