.taxon-autocomplete-language .MuiAutocomplete-input.Mui-disabled {
  color: black;
  font-style: italic;
}

.taxon-autocomplete-dialog-item {
  display: grid;

  div {
    word-wrap: break-word;
  }
}
